body{
    font-family: sans-serif;
    background-color:#243b55;
    text-align: center;
    color: white;
}

.box{
    transform: translate(-50%,-50%);
    background-color: #141e30;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color:#03e9f4 ;
    border: 3px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
  }

  a:hover{
    background-color: dodgerblue;
  }