body {
    background-color:#243b55;
    font-family: sans-serif;
    margin:0;
    padding:0;
  }
  
  #navbar {
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #eee;
    height: 70px;
    position: fixed;
  }
  
  #navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8rem;
  }
  
  #navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }
  
  #navbar-items li a{
    text-decoration: none;
    color:#03e9f4 ;
    padding: 40px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }